[Unit]
Description=TI wl1251 network usage led service

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/ti-wl1251-init start
ExecStop=/usr/lib/systemd/scripts/ti-wl1251-init stop
TimeoutSec=0
RemainAfterExit=YES

[Install]
WantedBy=multi-user.target
