[Unit]
Description=Pandora init service

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/pandorainit start
ExecStop=/usr/lib/systemd/scripts/pandorainit stop
TimeoutSec=0
RemainAfterExit=YES

[Install]
WantedBy=multi-user.target
